.c{
    &-nav{
        &__container{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 28px 0;
            ul{
                display: flex;
                justify-content: center;
                li{
                    padding: 4px 8px;
                    margin: 20px;
                    border: 1px solid $white;
                }
    
                li:hover{
                    border: 1px solid $gray-500;
                }
    
                li:active{
                    border: 1px solid $gray-500;
                }
            }
        }
        &__image{
            position: absolute;
            left: 0;
            height: 40px;
            width: auto;
        }
    }
    
    &-pagination{
        ul{
            display: flex;
            margin: 8px 0;
            justify-content: center;
            li{
                border-radius: 4px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    color: $gray-700;
                }
                &:hover{
                    background-color: $gray-200;
                }
                &:active{
                    background-color: $gray-800;
                    p{
                        color: $white;
                    }
                }
            }
        }
    }

    &-pagedot{
        &__wrap{
            display: flex;
            justify-content: center;

            li{
                background-color: $gray-300;
                width: 12px;
                height: 12px;
                margin: 0 8px;
                border-radius: 100%;

                &.active{
                    background-color: $black;
                }
            }
        }
    }
    
    &-footer{
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        &__container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                display: flex;
                align-items: center;
                img{
                    margin-bottom: 24px;
                    margin: 0 8px 0 0;
                    padding: 0;
                }
                p{
                    margin-bottom: 24px;
                    margin: 0;
                    padding: 0;
                }
            }
        }

        &__info{
            img{
                width: 160px;
                margin-bottom: 24px;
            }
            p{
                @include fs-5;
                margin-bottom: 24px;
            }
            a{
                font-size: 20px;
                line-height: 24px;
                color: $gray-500;
            }
        }

    }
    
    &-btn{
        display: inline-block;
        @include fs-5;

        &--large{
            width: 306px;
            height: 72px;
            padding: 0 24px;
            display: flex;
            align-items: center;
            border-radius: 8px;
            border: 1px solid $gray-400;
            background-color: $white;
            margin-bottom: 24px;
            img{
                margin-right: 8px;
            }
    
            &.active{
                background-color: $black;
                color: $white;
                font-weight: 900;
            }
        }

        &--small{
            background-color: $black;
            color: $white;
            display: inline-block;
            padding: 16px 32px;
            border-radius: 5px;
            font-weight: 700;

            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s ease;

            &:hover{
                background-color: $gray-700;
                transition: all 0.5s ease;
            }
        }
    }
}