.p {
    &-hero {
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/hero-lg.png?raw=true");
        background-position: right;
        background-repeat: no-repeat;
        padding: 248px 0;

        &__img{
            display: none;
        }

        &__txt {
            h2 {
                color: $gray-700;
                margin-bottom: 24px;
                font-size: 40px;
                line-height: 1.2;
            }

            .icon-wrap {
                display: flex;

                img {
                    margin-right: 16px;
                }
            }
        }

        &__p {
            color: $gray-600;
            @include fs-5;
            margin-bottom: 16px;
            span{
                &::after {
                    content: " ";
                    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true");
                    width: 148px;
                    height: 8px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    z-index: -1;
                }
            }
        }

        &__note {
            color: $gray-400;
            @include fs-6;
            margin-bottom: 60px;
        }

        .icon-wrap{
            img{
                width: 56px;
                height: 56px;
            }
        }

        @media (max-width: 768px) {
            background-image: none;
            background-position: top;
            padding: 0;

            &__img{
                display: block;
            }

            &__txt{
                padding: 40px 0;
                text-align: center;
                h2{
                    font-size: 32px;
                    line-height: 1.2;
                }
            }
            &__note {
                margin-bottom: 24px;
            }

            .icon-wrap{
                justify-content: center;
                img{
                    width: 40px;
                    height: 40px;
                }
            }

        }
    }

    &-portfolio {
        position: relative;
        padding: 0;

        h2 {
            @include h2
        }

        &__card {
            position: relative;
            height: 800px;
            overflow: hidden;

            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;
            }
        }

        &__info {
            padding: 80px 40px 56px 40px;
            border-radius: 24px;
            background-color: #ffffff1a;
            width: 526px;

            display: flex;
            flex-direction: column;
            justify-content: center;

            a {
                text-align: center;
            }
        }

        .card {
            &-1 {
                .p-portfolio__info {
                    margin-left: 50px;
                }

                &::before {
                    content: "";
                    height: 800px;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    opacity: .4;
                }

                &::after {
                    content: "";
                    height: 800px;
                    width: 100%;
                    z-index: -2;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $gray-800;
                }
            }

            &-2 {
                .p-portfolio__info {
                    z-index: 5;
                }

                &::before {
                    content: "";
                    height: 800px;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work2-lg.png?raw=true");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                &::after {
                    content: "";
                    height: 800px;
                    width: 50%;
                    z-index: 2;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $gray-800;
                    opacity: .5;
                }
            }

            &-3 {
                .p-portfolio__info {
                    margin-left: 50px;
                }

                &::before {
                    content: "";
                    height: 800px;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3-bg.png?raw=true");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    opacity: .4;
                }

                &::after {
                    content: "";
                    height: 800px;
                    width: 100%;
                    z-index: -2;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $gray-800;
                }
            }
        }

        &__txt {
            color: $white;
            display: inline;
            text-align: center;

            h3 {
                margin-bottom: 8px;
                text-align: left;
            }

            p {
                padding-bottom: 24px;
            }

            ul {
                display: flex;
                padding-bottom: 40px;
                margin-bottom: 40px;
                border-bottom: 1px solid $gray-200;
                text-align: left;

                li {
                    background-color: $white;
                    padding: 4px 12px;
                    border-radius: 16px;
                    margin-right: 16px;
                    color: $gray-700;
                }
            }
        }

        @media (max-width: 768px) {
            h2{
                margin-bottom: 40px;
            }
            &__card {
                height: 100vh;

                .img-wrap{
                    padding: 90px 40px 0 40px;
                }

                .container{
                    display: block;
                }
            }

            .card-1,.card-2,.card-3{
                .p-portfolio__info{
                    margin: 0;
                }
                .container{
                    padding: 0;
                }
            }

            .card-2{
                &::after{
                    width: 0;
                }
            }

            &__info{
                padding: 0;
                width: 100%;
                text-align: center;
                background-color: $white;
                border-radius: 0;
                width: 100%;
            }

            &__txt{
                padding: 24px 0 48px 0;
                position: absolute;
                bottom: 0;
                background-color: $white;
                width: 100%;
                h3{
                    color: $gray-800;
                    font-size: 20px;
                    line-height: 1.2;
                    text-align: center;
                }
                p{
                    color: $gray-600;
                    @include fs-6;
                    padding: 0 24px;
                    margin-bottom: 16px;
                    text-align: center;
                }
                ul{
                    border: 0;
                    margin-bottom: 20px;
                    padding: 0;
                    justify-content: center;

                    li{
                        background-color: $gray-200;
                        margin: 0 4px;
                    }
                }
            }
        }
    }

    &-intro {
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-services-bg.png?raw=true");

        h2 {
            @include h2;
        }

        .container{
            text-align: center;
        }

        h3{
            margin-bottom: 40px;
            text-align: center;
        }

        a{
            text-align: center;
        }

        &__wrap{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 80px;
        }

        &__card{
            width: 306px;
            height: 306px;
            background-color: $gray-800;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            border-radius: 16px;
            background:linear-gradient(-45deg, $gray-800 50%, $black 50%);
            img{
                margin-bottom: 24px;
            }
            p{
                color:$white;
                @include fs-3;
            }

        }

        @media (max-width: 768px){
            h3{
                font-size: 20px;
                line-height: 1.2;
                margin-bottom: 24px;
            }

            &__wrap{
                flex-direction: column;
                justify-content:center;
                align-items: center;
                margin-bottom: 16px;
            }

            &__card{
                margin-bottom: 24px;
                p{
                    font-size: 24px;
                    line-height: 1.2;
                
                }
            }
        }
    }

    &-article{
        h2 {
            @include h2;
        }
        &__wrap{
            display: flex;
            flex-direction: row;
            overflow: hidden;
            margin-bottom: 40px;

            img{
                margin-bottom: 16px;
            }

            h5{
                padding: 0 8px;
                margin-bottom: 16px;
            }
        }
        &__card{
            margin: 0 12px;

            img{
                border-radius: 8px;
                border: 1px solid $gray-200;
            }
        }
        &__info{
            display: flex;
            justify-content: space-between;
            padding: 0 8px;

            .tag{
                @include fs-6;
                padding: 4px 12px;
                border-radius: 16px;
                background-color: $gray-200;
            }

            .date{
                @include fs-6;
                color: $gray-600;
            }
        }

        
        &__link{
            display: none;
        }

        @media (max-width: 768px){

            &__wrap{
                flex-direction: column;
                margin: 0;
            }

            &__card{
                margin-bottom: 48px;
            }

            .c-pagedot{
                display: none;
            }

            &__link{
                display: block;
                text-align: center;
            }
        }
    }

    &-topbn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        background-color: $gray-100;

        &__wrapper {
            max-width: 670px;
            margin: auto;
            position: relative;
            padding: 70px 0;

            &::before {
                content: " ";
                background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-left.png?raw=true");
                width: 72px;
                height: 72px;
                display: inline-block;
                position: absolute;
                left: 0;
                top: 0;
            }

            &::after {
                content: " ";
                background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-right.png?raw=true");
                width: 72px;
                height: 72px;
                display: inline-block;
                position: absolute;
                right: 0;
                bottom: 0;

            }
        }

        &__title {
            color: $gray-800;
            display: flex;
            justify-content: center;

            h4 {
                text-align: center;
                position: relative;
                display: inline;
                text-align: center;
                z-index: 3;
                font-weight: 400;

                span{
                    &::after {
                        content: " ";
                        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true");
                        width: 148px;
                        height: 8px;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        z-index: -1;
                    }
                }
            }

            &:nth-child(1) {
                margin-bottom: 16px;
            }
        }

        ul {
            display: flex;
            justify-content: center;

            li {
                max-width: 298px;
                margin: 0 20px;

                p {
                    @include fs-6;
                    color: $gray-600;
                    text-align: center;
                }

                .subtitle {
                    color: $gray-700;
                    margin-bottom: 8px;
                    position: relative;

                    &::after {
                        content: "";
                        display: block;
                        width: 24px;
                        height: 4px;
                        border-bottom: 1px solid $gray-400;
                        position: absolute;
                        right: 0;
                        left: 0;
                        margin: auto;
                    }
                }
            }
        }
        @media (max-width: 768px){
            padding: 40px 0;
            &__wrapper {
                padding: 64px 0;
                &::before{
                    width: 64px;
                    height: 64px;
                    position: absolute;
                    right: 0;
                    left: 0;
                    margin: auto;
                    top: 0;
                }
                &::after{
                    width: 0;
                    height: 0;
                }
            }

            &__title{
                h4{
                    @include fs-5;
                    margin: 0 37.5px;
                }

                &:nth-child(1) {
                    margin-bottom: 24px;
                }
            }

            ul{
                flex-direction: column;
                li{
                    margin-bottom: 20px;
                    max-width: 100%;
                    padding: 0 50px;
                }
            }
        }
    }

    &-works {
        padding: 120px 0;
        &__wrap {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;

            @media (max-width:768px) {
                flex-direction: row;
            }
        }

        &__card {
            width: 49%;
            margin-bottom: 80px;

            @media (max-width: 768px) {
                width: 100%;
                margin-bottom: 48px;
            }

            // 不知道為什麼img和.img-wrap有落差
            .img-wrap {
                border-radius: 8px;
                border: 1px solid $gray-200;
            }

        }

        &__txt {
            margin-top: 16px;
            padding: 0 16px;

            h3 {
                margin-bottom: 8px;
                color: $gray-700;
                font-weight: 700;

                @media (max-width: 768px) {
                    font-size: 20px;
                }

            }

            p {
                @include fs-6;
                color: $gray-500;
            }

            ul {
                margin-top: 24px;
                display: flex;
                flex-wrap: wrap;

                li {
                    padding: 4px 12px;
                    margin-right: 16px;
                    background: $gray-200;
                    border-radius: 16px;
                    color: $gray-700;
                    @include fs-6;
                }
            }
        }
    }
}