h1{
    font-size: 40px;
    line-height: 1.2;
}

h2{
    font-size: 32px;
    line-height: 1.2;
}

h3{
    font-size: 28px;
    line-height: 1.2;
}

h4{
    font-size: 24px;
    line-height: 1.2;
}

h5{
    font-size: 20px;
    line-height: 1.2;
}

h6{
    font-size: 16px;
    line-height: 1.2;
}


@mixin fs-1 {
    font-weight: 400;
    font-size: 40px;
}

@mixin fs-2 {
    font-weight: 400;
    font-size: 32px;
}

@mixin fs-3 {
    font-weight: 400;
    font-size: 28px;
}

@mixin fs-4 {
    font-weight: 400;
    font-size: 24px;
}

@mixin fs-5 {
    font-weight: 400;
    font-size: 20px;
}

@mixin fs-6 {
    font-weight: 400;
    font-size: 16px;
}


@mixin h2{
    text-align: center;
    margin-bottom: 80px;
    color: $gray-700;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 4px;
    font-size: 32px;
    line-height: 1.2;

    &::before {
        display: inline-block;
        content: "";
        background: url("https://hilauren.github.io/web-work2/assets/images/title-left.svg");
        width: 100px;
        height: 6px;
        margin-right: 16px;

    }

    &::after {
        display: inline-block;
        content: "";
        background: url("https://hilauren.github.io/web-work2/assets/images/title-right.svg");
        width: 100px;
        height: 6px;
        margin-left: 16px;

    }

    @media (max-width: 768px){
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 40px;
        &::before {
            display: inline-block;
            content: "";
            width: 56px;
            height: 6px;   
        }
    
        &::after {
            display: inline-block;
            content: "";
            width: 56px;
            height: 6px;
        }
    }
}