h1 {
  font-size: 40px;
  line-height: 1.2;
}

h2 {
  font-size: 32px;
  line-height: 1.2;
}

h3 {
  font-size: 28px;
  line-height: 1.2;
}

h4 {
  font-size: 24px;
  line-height: 1.2;
}

h5 {
  font-size: 20px;
  line-height: 1.2;
}

h6 {
  font-size: 16px;
  line-height: 1.2;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", Helvetica, Arial, sans-serif, serif;
  line-height: 1.5;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

section {
  padding: 120px 0;
}
@media (max-width: 768px) {
  section {
    padding: 80px 0;
  }
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .container {
    padding: 0 16px;
  }
}

.img-wrap {
  max-width: 100%;
  overflow: hidden;
}
.img-wrap img {
  width: 100%;
}

img {
  vertical-align: middle;
}

button {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
}

.pc-none {
  display: none;
}
@media (max-width: 768px) {
  .pc-none {
    display: block;
  }
}

.c-nav__container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 28px 0;
}
.c-nav__itemwrap {
  display: flex;
  justify-content: center;
}
.c-nav__item {
  padding: 4px 8px;
  margin: 20px;
  border: 1px solid #ffffff;
}
.c-nav__item:hover {
  border: 1px solid #919191;
}
.c-nav__item:active {
  border: 1px solid #919191;
}
.c-nav__image {
  position: absolute;
  left: 0;
  height: 40px;
  width: auto;
}
.c-nav__menu {
  display: none;
}
@media (max-width: 768px) {
  .c-nav__container {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px 12px;
    height: 56px;
  }
  .c-nav__image {
    position: relative;
    height: 33px;
    width: auto;
  }
  .c-nav__menu {
    display: block;
  }
  .c-nav__collapse {
    width: 100%;
    position: absolute;
    left: 0;
    top: 56px;
    background-color: #ffffff;
    display: none;
  }
  .c-nav__itemwrap {
    display: block;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 16px;
  }
  .c-nav__item {
    text-align: center;
    margin: 0 0 24px 0;
  }
}
.c-pagination ul {
  display: flex;
  margin: 8px 0;
  justify-content: center;
}
.c-pagination ul li {
  border-radius: 4px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-pagination ul li p {
  color: #3B3B3B;
}
.c-pagination ul li:hover {
  background-color: #F1F1F1;
}
.c-pagination ul li:active {
  background-color: #1E1E1E;
}
.c-pagination ul li:active p {
  color: #ffffff;
}
.c-pagedot__wrap {
  display: flex;
  justify-content: center;
}
.c-pagedot__wrap li {
  background-color: #E9E9E9;
  width: 12px;
  height: 12px;
  margin: 0 8px;
  border-radius: 100%;
}
.c-pagedot__wrap li.active {
  background-color: #000000;
}
.c-footer {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.c-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-footer__container li {
  display: flex;
  align-items: center;
}
.c-footer__container li img {
  margin-bottom: 24px;
  margin: 0 8px 0 0;
  padding: 0;
}
.c-footer__container li p {
  margin-bottom: 24px;
  margin: 0;
  padding: 0;
}
.c-footer__info img {
  width: 160px;
  margin-bottom: 24px;
}
.c-footer__info p {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 24px;
}
.c-footer__info a {
  font-size: 20px;
  line-height: 24px;
  color: #919191;
}
@media (max-width: 768px) {
  .c-footer__container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .c-footer__info {
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
  }
  .c-footer__info img {
    width: 120px;
    margin-bottom: 24px;
  }
  .c-footer__info p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 24px;
  }
}
.c-btn {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
}
.c-btn--large {
  height: 72px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #C1C1C1;
  background-color: #ffffff;
  margin-bottom: 24px;
}
.c-btn--large img {
  margin-right: 8px;
}
.c-btn--large.active {
  background-color: #000000;
  color: #ffffff;
  font-weight: 900;
}
@media (max-width: 768px) {
  .c-btn--large {
    height: 64px;
  }
}
.c-btn--small {
  background-color: #000000;
  color: #ffffff;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 5px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.c-btn--small:hover {
  background-color: #3B3B3B;
  transition: all 0.5s ease;
}
@media (max-width: 768px) {
  .c-btn--small {
    font-weight: 400;
    font-size: 16px;
    padding: 8px 16px;
  }
}

.p-hero {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/hero-lg.png?raw=true");
  background-position: right;
  background-repeat: no-repeat;
  padding: 248px 0;
}
.p-hero__img {
  display: none;
}
.p-hero__txt h2 {
  color: #3B3B3B;
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 1.2;
}
.p-hero__txt .icon-wrap {
  display: flex;
}
.p-hero__txt .icon-wrap img {
  margin-right: 16px;
}
.p-hero__p {
  color: #5B5B5B;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 16px;
}
.p-hero__p span::after {
  content: " ";
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true");
  width: 148px;
  height: 8px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.p-hero__note {
  color: #C1C1C1;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 60px;
}
.p-hero .icon-wrap img {
  width: 56px;
  height: 56px;
}
@media (max-width: 768px) {
  .p-hero {
    background-image: none;
    background-position: top;
    padding: 0;
  }
  .p-hero__img {
    display: block;
  }
  .p-hero__txt {
    padding: 40px 0;
    text-align: center;
  }
  .p-hero__txt h2 {
    font-size: 32px;
    line-height: 1.2;
  }
  .p-hero__note {
    margin-bottom: 24px;
  }
  .p-hero .icon-wrap {
    justify-content: center;
  }
  .p-hero .icon-wrap img {
    width: 40px;
    height: 40px;
  }
}
.p-portfolio {
  position: relative;
  padding: 0;
}
.p-portfolio h2 {
  text-align: center;
  margin-bottom: 80px;
  color: #3B3B3B;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
  font-size: 32px;
  line-height: 1.2;
}
.p-portfolio h2::before {
  display: inline-block;
  content: "";
  background: url("https://hilauren.github.io/web-work2/assets/images/title-left.svg");
  width: 100px;
  height: 6px;
  margin-right: 16px;
}
.p-portfolio h2::after {
  display: inline-block;
  content: "";
  background: url("https://hilauren.github.io/web-work2/assets/images/title-right.svg");
  width: 100px;
  height: 6px;
  margin-left: 16px;
}
@media (max-width: 768px) {
  .p-portfolio h2 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 40px;
  }
  .p-portfolio h2::before {
    display: inline-block;
    content: "";
    width: 56px;
    height: 6px;
  }
  .p-portfolio h2::after {
    display: inline-block;
    content: "";
    width: 56px;
    height: 6px;
  }
}
.p-portfolio__card {
  position: relative;
  height: 800px;
  overflow: hidden;
}
.p-portfolio__card .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.p-portfolio__info {
  padding: 80px 40px 56px 40px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  width: 526px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.p-portfolio__info a {
  text-align: center;
}
.p-portfolio .card-1 .p-portfolio__info {
  margin-left: 50px;
}
.p-portfolio .card-1::before {
  content: "";
  height: 800px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.4;
}
.p-portfolio .card-1::after {
  content: "";
  height: 800px;
  width: 100%;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1E1E1E;
}
.p-portfolio .card-2 .p-portfolio__info {
  z-index: 5;
}
.p-portfolio .card-2::before {
  content: "";
  height: 800px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work2-lg.png?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.p-portfolio .card-2::after {
  content: "";
  height: 800px;
  width: 50%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1E1E1E;
  opacity: 0.5;
}
.p-portfolio .card-3 .p-portfolio__info {
  margin-left: 50px;
}
.p-portfolio .card-3::before {
  content: "";
  height: 800px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3-bg.png?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.4;
}
.p-portfolio .card-3::after {
  content: "";
  height: 800px;
  width: 100%;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1E1E1E;
}
.p-portfolio__txt {
  color: #ffffff;
  display: inline;
  text-align: center;
}
.p-portfolio__txt h3 {
  margin-bottom: 8px;
  text-align: left;
}
.p-portfolio__txt p {
  padding-bottom: 24px;
}
.p-portfolio__txt ul {
  display: flex;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #F1F1F1;
  text-align: left;
}
.p-portfolio__txt ul li {
  background-color: #ffffff;
  padding: 4px 12px;
  border-radius: 16px;
  margin-right: 16px;
  color: #3B3B3B;
}
@media (max-width: 768px) {
  .p-portfolio h2 {
    margin-bottom: 40px;
  }
  .p-portfolio__card {
    height: 100vh;
  }
  .p-portfolio__card .img-wrap {
    padding: 90px 40px 0 40px;
  }
  .p-portfolio__card .container {
    display: block;
  }
  .p-portfolio .card-1 .p-portfolio__info, .p-portfolio .card-2 .p-portfolio__info, .p-portfolio .card-3 .p-portfolio__info {
    margin: 0;
  }
  .p-portfolio .card-1 .container, .p-portfolio .card-2 .container, .p-portfolio .card-3 .container {
    padding: 0;
  }
  .p-portfolio .card-2::after {
    width: 0;
  }
  .p-portfolio__info {
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 0;
    width: 100%;
  }
  .p-portfolio__txt {
    padding: 24px 0 48px 0;
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
    width: 100%;
  }
  .p-portfolio__txt h3 {
    color: #1E1E1E;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
  }
  .p-portfolio__txt p {
    color: #5B5B5B;
    font-weight: 400;
    font-size: 16px;
    padding: 0 24px;
    margin-bottom: 16px;
    text-align: center;
  }
  .p-portfolio__txt ul {
    border: 0;
    margin-bottom: 20px;
    padding: 0;
    justify-content: center;
  }
  .p-portfolio__txt ul li {
    background-color: #F1F1F1;
    margin: 0 4px;
  }
}
.p-intro {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-services-bg.png?raw=true");
}
.p-intro h2 {
  text-align: center;
  margin-bottom: 80px;
  color: #3B3B3B;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
  font-size: 32px;
  line-height: 1.2;
}
.p-intro h2::before {
  display: inline-block;
  content: "";
  background: url("https://hilauren.github.io/web-work2/assets/images/title-left.svg");
  width: 100px;
  height: 6px;
  margin-right: 16px;
}
.p-intro h2::after {
  display: inline-block;
  content: "";
  background: url("https://hilauren.github.io/web-work2/assets/images/title-right.svg");
  width: 100px;
  height: 6px;
  margin-left: 16px;
}
@media (max-width: 768px) {
  .p-intro h2 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 40px;
  }
  .p-intro h2::before {
    display: inline-block;
    content: "";
    width: 56px;
    height: 6px;
  }
  .p-intro h2::after {
    display: inline-block;
    content: "";
    width: 56px;
    height: 6px;
  }
}
.p-intro .container {
  text-align: center;
}
.p-intro h3 {
  margin-bottom: 40px;
  text-align: center;
}
.p-intro a {
  text-align: center;
}
.p-intro__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 80px;
}
.p-intro__card {
  width: 306px;
  height: 306px;
  background-color: #1E1E1E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 16px;
  background: linear-gradient(-45deg, #1E1E1E 50%, #000000 50%);
}
.p-intro__card img {
  margin-bottom: 24px;
}
.p-intro__card p {
  color: #ffffff;
  font-weight: 400;
  font-size: 28px;
}
@media (max-width: 768px) {
  .p-intro h3 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 24px;
  }
  .p-intro__wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }
  .p-intro__card {
    margin-bottom: 24px;
  }
  .p-intro__card p {
    font-size: 24px;
    line-height: 1.2;
  }
}
.p-article h2 {
  text-align: center;
  margin-bottom: 80px;
  color: #3B3B3B;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
  font-size: 32px;
  line-height: 1.2;
}
.p-article h2::before {
  display: inline-block;
  content: "";
  background: url("https://hilauren.github.io/web-work2/assets/images/title-left.svg");
  width: 100px;
  height: 6px;
  margin-right: 16px;
}
.p-article h2::after {
  display: inline-block;
  content: "";
  background: url("https://hilauren.github.io/web-work2/assets/images/title-right.svg");
  width: 100px;
  height: 6px;
  margin-left: 16px;
}
@media (max-width: 768px) {
  .p-article h2 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 40px;
  }
  .p-article h2::before {
    display: inline-block;
    content: "";
    width: 56px;
    height: 6px;
  }
  .p-article h2::after {
    display: inline-block;
    content: "";
    width: 56px;
    height: 6px;
  }
}
.p-article__wrap {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: 40px;
}
.p-article__wrap img {
  margin-bottom: 16px;
}
.p-article__wrap h5 {
  padding: 0 8px;
  margin-bottom: 16px;
}
.p-article__card {
  margin: 0 12px;
}
.p-article__card img {
  border-radius: 8px;
  border: 1px solid #F1F1F1;
}
.p-article__info {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}
.p-article__info .tag {
  font-weight: 400;
  font-size: 16px;
  padding: 4px 12px;
  border-radius: 16px;
  background-color: #F1F1F1;
}
.p-article__info .date {
  font-weight: 400;
  font-size: 16px;
  color: #5B5B5B;
}
.p-article__link {
  display: none;
}
@media (max-width: 768px) {
  .p-article__wrap {
    flex-direction: column;
    margin: 0;
  }
  .p-article__card {
    margin-bottom: 48px;
  }
  .p-article .c-pagedot {
    display: none;
  }
  .p-article__link {
    display: block;
    text-align: center;
  }
}
.p-topbn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #FAFAFA;
}
.p-topbn__wrapper {
  max-width: 670px;
  margin: auto;
  position: relative;
  padding: 70px 0;
}
.p-topbn__wrapper::before {
  content: " ";
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-left.png?raw=true");
  width: 72px;
  height: 72px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
.p-topbn__wrapper::after {
  content: " ";
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-right.png?raw=true");
  width: 72px;
  height: 72px;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
}
.p-topbn__title {
  color: #1E1E1E;
  display: flex;
  justify-content: center;
}
.p-topbn__title h4 {
  text-align: center;
  position: relative;
  display: inline;
  text-align: center;
  z-index: 3;
  font-weight: 400;
}
.p-topbn__title h4 span::after {
  content: " ";
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true");
  width: 148px;
  height: 8px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.p-topbn__title:nth-child(1) {
  margin-bottom: 16px;
}
.p-topbn ul {
  display: flex;
  justify-content: center;
}
.p-topbn ul li {
  max-width: 298px;
  margin: 0 20px;
}
.p-topbn ul li p {
  font-weight: 400;
  font-size: 16px;
  color: #5B5B5B;
  text-align: center;
}
.p-topbn ul li .subtitle {
  color: #3B3B3B;
  margin-bottom: 8px;
  position: relative;
}
.p-topbn ul li .subtitle::after {
  content: "";
  display: block;
  width: 24px;
  height: 4px;
  border-bottom: 1px solid #C1C1C1;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}
@media (max-width: 768px) {
  .p-topbn {
    padding: 40px 0;
  }
  .p-topbn__wrapper {
    padding: 64px 0;
  }
  .p-topbn__wrapper::before {
    width: 64px;
    height: 64px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 0;
  }
  .p-topbn__wrapper::after {
    width: 0;
    height: 0;
  }
  .p-topbn__title h4 {
    font-weight: 400;
    font-size: 20px;
    margin: 0 37.5px;
  }
  .p-topbn__title:nth-child(1) {
    margin-bottom: 24px;
  }
  .p-topbn ul {
    flex-direction: column;
  }
  .p-topbn ul li {
    margin-bottom: 20px;
    max-width: 100%;
    padding: 0 50px;
  }
}
.p-works {
  padding: 120px 0;
}
.p-works__wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .p-works__wrap {
    flex-direction: row;
  }
}
.p-works__card {
  width: 49%;
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .p-works__card {
    width: 100%;
    margin-bottom: 48px;
  }
}
.p-works__card .img-wrap {
  border-radius: 8px;
  border: 1px solid #F1F1F1;
}
.p-works__txt {
  margin-top: 16px;
  padding: 0 16px;
}
.p-works__txt h3 {
  margin-bottom: 8px;
  color: #3B3B3B;
  font-weight: 700;
}
@media (max-width: 768px) {
  .p-works__txt h3 {
    font-size: 20px;
  }
}
.p-works__txt p {
  font-weight: 400;
  font-size: 16px;
  color: #919191;
}
.p-works__txt ul {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
}
.p-works__txt ul li {
  padding: 4px 12px;
  margin-right: 16px;
  background: #F1F1F1;
  border-radius: 16px;
  color: #3B3B3B;
  font-weight: 400;
  font-size: 16px;
}/*# sourceMappingURL=main.css.map */